<div class="container">
<br>
  <h1 style="color:green">All Posts</h1>
  <br>
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
      <br>
      <p>
        <%= link_to "Show this post", post ,class:"btn btn-primary"%>
      </p>
    <% end %>
  </div>
</div>